/* Google font */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600');



body {
    background-color: #ff0000 !important;
    background-image: url("../Images/bg-pattern.png");
    background-repeat: repeat;
    font-family: 'Libre Franklin', sans-serif;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

/* Menu section css*/

.section-lg-full {
    padding-top: 66px;
}

.section-min {
    padding-top: 13px;
}

.bg-solid_2 {
    background-color: #cc0000 !important;
    background-image: url("../Images/bg-pattern.png");
    background-repeat: repeat;
}


.home-alt p {
    color: #fff !important;
}

.home-alt h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 54px;
    font-weight: 600;
}


/* BUTTONS */

.btn {
    font-size: 14px;
}

a {
    color: #cc0000;
    text-decoration: none;
    background-color: transparent;
}

.btn-app-download {
    padding: 10px 22px 10px 65px;
    position: relative;
    display: inline-block;
    color: #cc0000;
    margin-right: 10px;
    text-align: left;
}

.btn-app-download:hover,
.btn-app-download:focus {
    color: #fff;
    outline: none;

}

.btn-app-download i {
    font-size: 30px;
    left: 17px;
    right: 10px;
    line-height: 1;
    margin: 13px 0 0 20px;
    position: absolute;
    top: 0;
}

.btn-app-download strong {
    display: block;
    font-weight: 700;
    margin-bottom: 6px;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0)
}


.logo-3 {
    max-width: 50px;
    margin-top: 50px;
}


.btn-purchase {
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-purchase i {
    font-size: 36px;
}

.btn-purchase span {
    font-size: 14px;
    opacity: 1;
}